<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="${title}">Base site</title>

<!--  MAIN -->

<meta name="author" content="Piotr Kowalski" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />

<!--  Analytics Verify -->  
<meta name="google-site-verification" content="b5zlt27ykabiFZ2b8XQRw7tV34WeFtPlXXVMv4FFw0o" />


<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />


<!--  CSS  -->
<link th:href="@{/css/all.css}" rel="stylesheet" type="text/css" media="all"></link>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<script th:replace="fragments/fragments :: annalytics"></script>

<script src="../../static/js/jquery-2.1.3.min.js" th:src="@{/js/jquery-2.1.3.min.js}"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<script src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script src="../../static/js/websockets.js" th:src="@{/js/websockets.js}"></script>
<script src="../../static/js/websockets.js" th:src="@{/js/stomp.js}"></script>
</head>



<!--    ANALYTICS  -->

<script th:fragment="fragments/common :: analytics">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-49363543-2' ]);
	_gaq.push([ '_trackPageview' ]);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>



<div th:fragment="top">

    <!--  AJAX indicator -->
    <div class="alert-success alert" id="richAlert"></div>
    
    
    <nav class="navbar navbar-default navbar-fixed-top top-menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <!--  DISPLAY ONLY IF LOGGED IN -->
                    
                    
                    <li th:if="${!#authorization.expression('isAuthenticated()')}" 
                    class="active"><a href="/login">Login <span class="sr-only">(current)</span></a></li>
                  
                    <li class="active" th:if="${#authorization.expression('isAuthenticated()')}"> 
                    <a href="/">
                    Logged as: <span sec:authentication="name"
                    ></span></a>
                    
                    </li>
                    
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

</div>



<div th:fragment="pagination" th:remove="tag">pagination part</div>



<div th:fragment="confirmationModal">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Potwierdzenie operacji</h4>
                </div>
                <div class="modal-body">Czy na pewno chcesz wykonać operację ?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="confirmOperation">Tak</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="cancelOperation">Nie</button>
                </div>
            </div>
        </div>
    </div>

</div>



<div th:fragment="footer">

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>


</div>






</html>